# Created by .ignore support plugin (hsz.mobi)
.idea
W"urde .idea/.gitignore l"oschen
W"urde .idea/data_science.iml l"oschen
W"urde .idea/inspectionProfiles/ l"oschen
W"urde .idea/misc.xml l"oschen
W"urde .idea/modules.xml l"oschen
W"urde .idea/vcs.xml l"oschen
W"urde Covid-19 India Forecast.ipynb l"oschen
.vscode
